<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Login - Expense Tracker</title>

</head>

<body class="login-page">

    <div class="login-box">

        <h1>🔐 Login</h1>

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            New User?
            <a href="/register">Create Account</a>
        </p>

    </div>

</body>
</html>