<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Register - Expense Tracker</title>

</head>

<body class="register-page">

    <div class="register-box">

        <h1>📝 Create Account</h1>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>
</html>